<div class="containter">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Basic URL</th>
        <th scope="col">Short URL</th>
        <th scope="col">Created Date</th>
        <th scope="col">Counter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of urlInfos" class="row-grid">
        <td scope="row" class="long-url">{{item.longUrl}}</td>
        <td><a href="javascript:void(0)" (click)="clickOnShortUrl(item.id)">test-app.org/{{item.shortUrl}}</a></td>
        <td class="data-table-body-column">{{item.createdData|date:"dd MMM, yyyy h:mm:ss aa"}}</td>
        <td>{{item.counter.amountClickLink}}</td>
        <td class="icon-remove">
          <div>
            <button type="button" class="btn btn-default btn-lg" (click)="onRemove(item.id)">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
