.container {
  display: flex;
}

.long-url {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
}

tr:hover{
    background-color:azure !important;
    
}

.icon-remove{
    display:none
}

tr:hover .icon-remove {
  display: flex;
  margin-top: -14px;
  position: fixed;
  border: none;
  margin-left: -50px;
}

td {
  cursor: default;
}
