<div class="card">

  <div class="card-header bg-primary">
    <h4> Create short URL</h4>
  </div>

  <div class="card-body">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit(f)">

      <label for="basic-url">Your original URL</label>
      <div class="input-group mb-3">
        <input type="text" required class="form-control" id="basic-url" name="BasicUrl" [ngModel]="basicUrl">
      </div>

      <label for="short-url">Short URL</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">test-app.org/</span>
        </div>
        <input type="text" class="form-control" id="short-url" name="ShortUrl" [ngModel]="shortUrl">
      </div>

      <div class="btn-group ">
        <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="onCancel()">Cancel</button>
      </div>

    </form>
  </div>

  <div class="card-footer">
    <div  class="alert alert-danger" *ngIf="showError">
      <label>{{error}}</label>
    </div>
    <div class="alert alert-success" *ngIf="showSuccess">
      <label>Your short URL : <a href="javascript:void(0)" (click)="clickOnShortUrl()">{{success}}</a></label>
    </div>
  </div>

</div>
